<h1>LOG IN</h1>
<%= form_for(:session, url: login_sessions_path) do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </p>
  
  <p>
    <%= f.label :password %>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.submit "LOG IN" %>
  </p>
<%end%>
