<h1>Confirm Your Order</h1>
<table>
  <tr>
    <th>Title</th>
    <th>Quantity</th>
    <th>Cost</th>
  </tr>
  <% current_user.cart.cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.product.title %></td>
      <td><%= cart_item.quantity %></td>
      <td><%= cart_item.product.cost * cart_item.quantity %></td>
    </tr>
  <% end %>
</table>
<%= form_with(model: [ current_user.orders.build ], local:true) do |f| %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>

  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-description="A month's subscription"
    data-amount="500"
    data-locale="auto">
  </script>
 <% end %>



