<h1>YOUR CART</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Cost</th>
    <th>Quantity</th>

  </tr>
 
  <% @cart_items.each do |cart_item| %>
    <tr>
      <td><%= cart_item.product.title %></td>
      <td><%= cart_item.cost %></td>
      <%= form_with scope: :cart_item, url: update_quantity_cart_index_path(cart_item_id: cart_item.id), method: :patch, local: true do |form| %>
      <td>
        <%= form.number_field :quantity, value: cart_item.quantity %>
      </td>
      <% end %>  
      <td>
        <%= button_to 'Delete', remove_cart_item_cart_index_path(cart_item_id: cart_item.id) %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Checkout', :controller => :orders, :action => :new %></p>

