<h1>PRODUCTS AVAILABLE</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>In Stock</th>
    <th>Cost</th>
  </tr>
 
  <% @products.sort{ |current_product, next_product| current_product.cost <=> next_product.cost }.each do |product| %>
    <tr>
      <td><%= product.title %></td>
      <td><%= product.description %></td>
      <td><%= product.in_stock %></td>
      <td><%= product.cost %></td>
      <td><%= link_to 'Show', product_path(product) %></td>
      <% if logged_in? && product.in_stock>0 %>
        <td><%= button_to 'Add to Cart', :controller => :carts, :action => :add_to_cart, :product_id => product.id %></td>
      <% end %>
      <% if logged_in? && current_user.admin? %>
         <td><%= link_to "Modify", edit_product_path(product) %></td>
      <% end %>
    </tr>
  <% end %>
</table>

