<!DOCTYPE html>
<html>
  <div id="flash_messages">
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, :class => "flash #{key}") %>
    <% end %>
  </div>

  <% if logged_in? %>
    <p><%= link_to "Profile", current_user %></p>
    <p><%= link_to "Logout", logout_path, method: :delete %></p>
    <%= link_to "Settings", edit_user_path(current_user) %>
    <p>
      <% if current_user.admin? %>
         <%= link_to "Add Products", new_product_path %>
      <% end %>
    </p>
  <% else %>
    <p><%= link_to "Login", login_path %></p>
    <P>NEW USER ?</p>
    <%= link_to "Sign up now!", signup_path %>
  <% end %>

  <p>
    <%= link_to 'Products List', products_path %>
  </p>



  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    
  </body>
</html>
